.button {
    border: 1px blue solid;
}

.dynamic {
    border: 1px grey solid;
}

.container {
    border: 1px blue solid;
}

.text {
    border: 1px green solid;
}

.input {
    border: 1px red solid;
}

.list {
    border: 1px yellow solid;
}
