/*** CUSTOM {{{ ***/
.markdown {
  & img {
      max-width: var(--img-max-width);
  }
}

#main {
    background-color: oklch(from var(--secondary) calc(l + 0.05) c h);
}

.--body {
    margin: 0 4px;
}

.--header {
    color: oklch(from var(--accent) calc(l - 0.2) c h);
}

.--leftside {
    background-color: oklch(from var(--secondary) calc(l + 0.05) c h);
    & * {
        background-color: transparent;
    }
}

.--cart {
    border-radius: 2rem;
}
/* }}} */
